* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: #002339;
  color: #fff;
}

.container {
  margin: 12%;
  width: 90%;
  max-width: 550px;
}

.container h1 {
  font-weight: 500;
  font-size: 45px;
}

.container h1 span {
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 7px;
}

.display {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}

.display input {
  border: 0;
  outline: 0;
  font-size: 24px;
}

.display button {
  border: 0;
  outline: 0;
  background: #fff;
  height: auto;
  width: 30px;
  cursor: pointer;
}

.display img {
  width: 30px;
}

.container button img {
  width: 28px;
  margin-right: 10px;
}

.container #generate-password-btn {
  border: 0;
  outline: 0;
  background: #019f55;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}

/* responsiveness */
@media screen and (max-width: 470px) {
  .container {
    margin: 8%;
    width: 90%;
    max-width: 360px;
  }

  .container h1 {
    font-size: 25px;
    font-weight: 500;
  }
  .container h1 br {
    display: none;
  }
  .container h1 span {
    padding-bottom: 6px;
  }

  .display {
    width: 100%;
    margin-right: 0 auto;
    padding: 13px 10px;
    border-radius: 5px;
  }

  .display input {
    font-size: 18px;
  }

  .display button {
    height: auto;
    width: 20px;
    cursor: pointer;
    margin-right: 20px;
  }

  .display img {
    width: 20px;
  }
}
